.app__skills-tech__lists {
  width: 100%;

  .app__skills-list__card {
    padding: 10px;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    .app__skills-list__items {
      display: flex;
      cursor: pointer;
      justify-content: center;
      justify-items: flex-start;
      align-items: center;
      flex-direction: column;
      width: 80px;
      height: 80px;
      border-radius: 12px;
      background-color: var(--bg-dark);

      padding: 2px;
      object-fit: contain;
    }
    img {
      width: 50%;
    }
    @media screen and(min-width:800px) {
      justify-content: flex-start;
      width: 390px;
    }
  }
}
.app__skills-tech__desc {
  margin-top: 20px;
  width: 100%;
  @media screen and(min-width:800px) {
    width: 50%;
  }
  p {
    margin-top: 20px;
  }
  .app__skills-tech_exp {
    display: flex;
    align-items: center;
    border: 1px solid var(--black);
    margin-top: 3rem;
    border-radius: 20px;
    padding: 10px;

    img {
      width: 50px;
      height: 50px;
      padding: 5px;
      object-fit: contain;
    }
    div {
      margin-left: 10px;
      p {
        margin-top: 0%;
      }
    }
  }
}
