@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* import font inter*/

/* setup */

:root {
  /* font-style */
  --font-base: 'Inter', sans-serif;
  /* color */
  --primary: #3155d6;
  --secondary: #d9d9d9;
  --black: #494949;
  --pink: #ffd7d7;
  --yellow: #fff8bd;
  --gray: #72737a;
  --bg-dark: #0a1640;
  --bg-form: #f8f8f8;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}
